<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Level1Sharpener_pieces0001</key>
		<dict>
			<key>frame</key>
			<string>{{295, 677}, {56, 61}}</string>
			<key>offset</key>
			<string>{6, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0002</key>
		<dict>
			<key>frame</key>
			<string>{{288, 782}, {56, 67}}</string>
			<key>offset</key>
			<string>{6, -4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0003</key>
		<dict>
			<key>frame</key>
			<string>{{227, 677}, {68, 105}}</string>
			<key>offset</key>
			<string>{6, 6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0004</key>
		<dict>
			<key>frame</key>
			<string>{{227, 482}, {83, 100}}</string>
			<key>offset</key>
			<string>{6, 18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0005</key>
		<dict>
			<key>frame</key>
			<string>{{304, 582}, {56, 61}}</string>
			<key>offset</key>
			<string>{6, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0006</key>
		<dict>
			<key>frame</key>
			<string>{{310, 477}, {56, 61}}</string>
			<key>offset</key>
			<string>{6, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0007</key>
		<dict>
			<key>frame</key>
			<string>{{357, 421}, {56, 61}}</string>
			<key>offset</key>
			<string>{6, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0008</key>
		<dict>
			<key>frame</key>
			<string>{{0, 330}, {142, 167}}</string>
			<key>offset</key>
			<string>{-6, 13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0009</key>
		<dict>
			<key>frame</key>
			<string>{{146, 294}, {85, 36}}</string>
			<key>offset</key>
			<string>{69, 55}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0010</key>
		<dict>
			<key>frame</key>
			<string>{{524, 409}, {30, 59}}</string>
			<key>offset</key>
			<string>{-40, -7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0011</key>
		<dict>
			<key>frame</key>
			<string>{{395, 511}, {36, 65}}</string>
			<key>offset</key>
			<string>{-42, -10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0012</key>
		<dict>
			<key>frame</key>
			<string>{{436, 97}, {96, 77}}</string>
			<key>offset</key>
			<string>{-63, -16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0013</key>
		<dict>
			<key>frame</key>
			<string>{{143, 588}, {100, 84}}</string>
			<key>offset</key>
			<string>{-75, -19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0014</key>
		<dict>
			<key>frame</key>
			<string>{{437, 193}, {30, 59}}</string>
			<key>offset</key>
			<string>{-40, -7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0015</key>
		<dict>
			<key>frame</key>
			<string>{{462, 67}, {30, 60}}</string>
			<key>offset</key>
			<string>{-40, -7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0016</key>
		<dict>
			<key>frame</key>
			<string>{{422, 638}, {30, 60}}</string>
			<key>offset</key>
			<string>{-40, -7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0017</key>
		<dict>
			<key>frame</key>
			<string>{{0, 164}, {146, 166}}</string>
			<key>offset</key>
			<string>{-4, 13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0018</key>
		<dict>
			<key>frame</key>
			<string>{{0, 992}, {85, 36}}</string>
			<key>offset</key>
			<string>{69, 55}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0019</key>
		<dict>
			<key>frame</key>
			<string>{{379, 97}, {9, 56}}</string>
			<key>offset</key>
			<string>{-58, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0020</key>
		<dict>
			<key>frame</key>
			<string>{{461, 349}, {36, 63}}</string>
			<key>offset</key>
			<string>{-57, -18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0021</key>
		<dict>
			<key>frame</key>
			<string>{{268, 222}, {106, 80}}</string>
			<key>offset</key>
			<string>{-83, -26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0022</key>
		<dict>
			<key>frame</key>
			<string>{{287, 328}, {93, 89}}</string>
			<key>offset</key>
			<string>{-100, -31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0023</key>
		<dict>
			<key>frame</key>
			<string>{{150, 155}, {9, 56}}</string>
			<key>offset</key>
			<string>{-58, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0024</key>
		<dict>
			<key>frame</key>
			<string>{{206, 155}, {9, 56}}</string>
			<key>offset</key>
			<string>{-58, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0025</key>
		<dict>
			<key>frame</key>
			<string>{{460, 538}, {9, 56}}</string>
			<key>offset</key>
			<string>{-58, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0026</key>
		<dict>
			<key>frame</key>
			<string>{{142, 330}, {145, 152}}</string>
			<key>offset</key>
			<string>{-5, 20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0027</key>
		<dict>
			<key>frame</key>
			<string>{{85, 992}, {85, 36}}</string>
			<key>offset</key>
			<string>{69, 55}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0028</key>
		<dict>
			<key>frame</key>
			<string>{{228, 782}, {31, 60}}</string>
			<key>offset</key>
			<string>{-45, -35}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0029</key>
		<dict>
			<key>frame</key>
			<string>{{418, 412}, {39, 64}}</string>
			<key>offset</key>
			<string>{-49, -37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0030</key>
		<dict>
			<key>frame</key>
			<string>{{353, 106}, {97, 83}}</string>
			<key>offset</key>
			<string>{-73, -47}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0031</key>
		<dict>
			<key>frame</key>
			<string>{{142, 482}, {106, 85}}</string>
			<key>offset</key>
			<string>{-82, -48}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0032</key>
		<dict>
			<key>frame</key>
			<string>{{399, 607}, {31, 59}}</string>
			<key>offset</key>
			<string>{-45, -36}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0033</key>
		<dict>
			<key>frame</key>
			<string>{{447, 477}, {31, 60}}</string>
			<key>offset</key>
			<string>{-45, -35}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0034</key>
		<dict>
			<key>frame</key>
			<string>{{493, 412}, {31, 60}}</string>
			<key>offset</key>
			<string>{-45, -35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0035</key>
		<dict>
			<key>frame</key>
			<string>{{0, 0}, {150, 164}}</string>
			<key>offset</key>
			<string>{-2, 14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0036</key>
		<dict>
			<key>frame</key>
			<string>{{143, 787}, {85, 36}}</string>
			<key>offset</key>
			<string>{69, 55}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0037</key>
		<dict>
			<key>frame</key>
			<string>{{376, 315}, {56, 61}}</string>
			<key>offset</key>
			<string>{3, -37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0038</key>
		<dict>
			<key>frame</key>
			<string>{{287, 421}, {56, 70}}</string>
			<key>offset</key>
			<string>{3, -41}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0039</key>
		<dict>
			<key>frame</key>
			<string>{{462, 0}, {67, 110}}</string>
			<key>offset</key>
			<string>{3, -61}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0040</key>
		<dict>
			<key>frame</key>
			<string>{{216, 0}, {83, 116}}</string>
			<key>offset</key>
			<string>{4, -64}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0041</key>
		<dict>
			<key>frame</key>
			<string>{{288, 849}, {56, 61}}</string>
			<key>offset</key>
			<string>{3, -37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0042</key>
		<dict>
			<key>frame</key>
			<string>{{288, 910}, {56, 61}}</string>
			<key>offset</key>
			<string>{3, -37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0043</key>
		<dict>
			<key>frame</key>
			<string>{{288, 971}, {56, 61}}</string>
			<key>offset</key>
			<string>{3, -37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0044</key>
		<dict>
			<key>frame</key>
			<string>{{0, 497}, {142, 167}}</string>
			<key>offset</key>
			<string>{-6, 13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0045</key>
		<dict>
			<key>frame</key>
			<string>{{310, 538}, {85, 36}}</string>
			<key>offset</key>
			<string>{69, 55}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0046</key>
		<dict>
			<key>frame</key>
			<string>{{497, 349}, {31, 60}}</string>
			<key>offset</key>
			<string>{47, -35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0047</key>
		<dict>
			<key>frame</key>
			<string>{{360, 574}, {39, 64}}</string>
			<key>offset</key>
			<string>{51, -37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0048</key>
		<dict>
			<key>frame</key>
			<string>{{379, 0}, {97, 83}}</string>
			<key>offset</key>
			<string>{75, -47}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0049</key>
		<dict>
			<key>frame</key>
			<string>{{268, 116}, {106, 85}}</string>
			<key>offset</key>
			<string>{84, -48}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0050</key>
		<dict>
			<key>frame</key>
			<string>{{430, 547}, {31, 59}}</string>
			<key>offset</key>
			<string>{47, -36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0051</key>
		<dict>
			<key>frame</key>
			<string>{{387, 701}, {31, 60}}</string>
			<key>offset</key>
			<string>{47, -35}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0052</key>
		<dict>
			<key>frame</key>
			<string>{{399, 547}, {31, 60}}</string>
			<key>offset</key>
			<string>{47, -35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0053</key>
		<dict>
			<key>frame</key>
			<string>{{0, 828}, {142, 164}}</string>
			<key>offset</key>
			<string>{-6, 14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0054</key>
		<dict>
			<key>frame</key>
			<string>{{376, 376}, {85, 36}}</string>
			<key>offset</key>
			<string>{69, 55}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0055</key>
		<dict>
			<key>frame</key>
			<string>{{228, 813}, {9, 56}}</string>
			<key>offset</key>
			<string>{70, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0056</key>
		<dict>
			<key>frame</key>
			<string>{{387, 638}, {35, 63}}</string>
			<key>offset</key>
			<string>{70, -18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0057</key>
		<dict>
			<key>frame</key>
			<string>{{299, 0}, {106, 80}}</string>
			<key>offset</key>
			<string>{95, -26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0058</key>
		<dict>
			<key>frame</key>
			<string>{{348, 222}, {93, 89}}</string>
			<key>offset</key>
			<string>{112, -31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0059</key>
		<dict>
			<key>frame</key>
			<string>{{170, 1016}, {9, 56}}</string>
			<key>offset</key>
			<string>{70, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0060</key>
		<dict>
			<key>frame</key>
			<string>{{226, 1016}, {9, 56}}</string>
			<key>offset</key>
			<string>{70, -14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0061</key>
		<dict>
			<key>frame</key>
			<string>{{467, 252}, {9, 56}}</string>
			<key>offset</key>
			<string>{70, -14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0062</key>
		<dict>
			<key>frame</key>
			<string>{{142, 828}, {146, 152}}</string>
			<key>offset</key>
			<string>{-4, 20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0063</key>
		<dict>
			<key>frame</key>
			<string>{{351, 643}, {85, 36}}</string>
			<key>offset</key>
			<string>{69, 55}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0064</key>
		<dict>
			<key>frame</key>
			<string>{{437, 252}, {30, 59}}</string>
			<key>offset</key>
			<string>{42, -7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0065</key>
		<dict>
			<key>frame</key>
			<string>{{457, 412}, {36, 65}}</string>
			<key>offset</key>
			<string>{43, -10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0066</key>
		<dict>
			<key>frame</key>
			<string>{{227, 582}, {95, 77}}</string>
			<key>offset</key>
			<string>{65, -16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0067</key>
		<dict>
			<key>frame</key>
			<string>{{143, 688}, {99, 84}}</string>
			<key>offset</key>
			<string>{77, -19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0068</key>
		<dict>
			<key>frame</key>
			<string>{{467, 193}, {30, 59}}</string>
			<key>offset</key>
			<string>{42, -7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0069</key>
		<dict>
			<key>frame</key>
			<string>{{460, 508}, {30, 60}}</string>
			<key>offset</key>
			<string>{42, -7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0070</key>
		<dict>
			<key>frame</key>
			<string>{{507, 472}, {30, 60}}</string>
			<key>offset</key>
			<string>{42, -7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0071</key>
		<dict>
			<key>frame</key>
			<string>{{0, 664}, {143, 164}}</string>
			<key>offset</key>
			<string>{-6, 14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0072</key>
		<dict>
			<key>frame</key>
			<string>{{170, 980}, {85, 36}}</string>
			<key>offset</key>
			<string>{69, 55}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0073</key>
		<dict>
			<key>frame</key>
			<string>{{344, 738}, {56, 61}}</string>
			<key>offset</key>
			<string>{6, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0074</key>
		<dict>
			<key>frame</key>
			<string>{{150, 0}, {66, 155}}</string>
			<key>offset</key>
			<string>{6, 8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0075</key>
		<dict>
			<key>frame</key>
			<string>{{432, 315}, {81, 34}}</string>
			<key>offset</key>
			<string>{69, 56}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0076</key>
		<dict>
			<key>frame</key>
			<string>{{476, 252}, {9, 56}}</string>
			<key>offset</key>
			<string>{-58, -14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0077</key>
		<dict>
			<key>frame</key>
			<string>{{146, 164}, {122, 130}}</string>
			<key>offset</key>
			<string>{5, 10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0078</key>
		<dict>
			<key>frame</key>
			<string>{{366, 477}, {81, 34}}</string>
			<key>offset</key>
			<string>{69, 56}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>tower_custom_sharpener_level1-hd</string>
		<key>size</key>
		<string>{572, 1032}</string>
		<key>textureFilename</key>
		<string>tower_custom_sharpener_level1-hd</string>
	</dict>
</dict>
</plist>
