<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Level1Sharpener_pieces0001</key>
		<dict>
			<key>frame</key>
			<string>{{213, 268}, {28, 31}}</string>
			<key>offset</key>
			<string>{3, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0002</key>
		<dict>
			<key>frame</key>
			<string>{{146, 113}, {28, 33}}</string>
			<key>offset</key>
			<string>{3, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0003</key>
		<dict>
			<key>frame</key>
			<string>{{221, 330}, {34, 53}}</string>
			<key>offset</key>
			<string>{3, 3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0004</key>
		<dict>
			<key>frame</key>
			<string>{{78, 415}, {43, 51}}</string>
			<key>offset</key>
			<string>{3, 9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0005</key>
		<dict>
			<key>frame</key>
			<string>{{174, 113}, {29, 31}}</string>
			<key>offset</key>
			<string>{3, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0006</key>
		<dict>
			<key>frame</key>
			<string>{{184, 144}, {29, 31}}</string>
			<key>offset</key>
			<string>{3, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0007</key>
		<dict>
			<key>frame</key>
			<string>{{184, 175}, {29, 31}}</string>
			<key>offset</key>
			<string>{3, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0008</key>
		<dict>
			<key>frame</key>
			<string>{{0, 166}, {71, 84}}</string>
			<key>offset</key>
			<string>{-3, 6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0009</key>
		<dict>
			<key>frame</key>
			<string>{{175, 93}, {43, 18}}</string>
			<key>offset</key>
			<string>{34, 27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0010</key>
		<dict>
			<key>frame</key>
			<string>{{286, 0}, {16, 30}}</string>
			<key>offset</key>
			<string>{-20, -3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0011</key>
		<dict>
			<key>frame</key>
			<string>{{236, 93}, {18, 33}}</string>
			<key>offset</key>
			<string>{-21, -5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0012</key>
		<dict>
			<key>frame</key>
			<string>{{142, 209}, {48, 39}}</string>
			<key>offset</key>
			<string>{-31, -8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0013</key>
		<dict>
			<key>frame</key>
			<string>{{132, 248}, {50, 42}}</string>
			<key>offset</key>
			<string>{-37, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0014</key>
		<dict>
			<key>frame</key>
			<string>{{213, 129}, {16, 30}}</string>
			<key>offset</key>
			<string>{-20, -3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0015</key>
		<dict>
			<key>frame</key>
			<string>{{213, 159}, {16, 30}}</string>
			<key>offset</key>
			<string>{-20, -3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0016</key>
		<dict>
			<key>frame</key>
			<string>{{213, 189}, {16, 30}}</string>
			<key>offset</key>
			<string>{-20, -3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0017</key>
		<dict>
			<key>frame</key>
			<string>{{0, 83}, {73, 83}}</string>
			<key>offset</key>
			<string>{-2, 7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0018</key>
		<dict>
			<key>frame</key>
			<string>{{218, 443}, {43, 18}}</string>
			<key>offset</key>
			<string>{34, 27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0019</key>
		<dict>
			<key>frame</key>
			<string>{{254, 325}, {5, 29}}</string>
			<key>offset</key>
			<string>{-29, -7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0020</key>
		<dict>
			<key>frame</key>
			<string>{{259, 32}, {18, 32}}</string>
			<key>offset</key>
			<string>{-28, -8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0021</key>
		<dict>
			<key>frame</key>
			<string>{{121, 415}, {52, 41}}</string>
			<key>offset</key>
			<string>{-41, -13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0022</key>
		<dict>
			<key>frame</key>
			<string>{{173, 407}, {47, 45}}</string>
			<key>offset</key>
			<string>{-50, -15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0023</key>
		<dict>
			<key>frame</key>
			<string>{{121, 461}, {5, 29}}</string>
			<key>offset</key>
			<string>{-29, -7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0024</key>
		<dict>
			<key>frame</key>
			<string>{{121, 456}, {5, 29}}</string>
			<key>offset</key>
			<string>{-29, -7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0025</key>
		<dict>
			<key>frame</key>
			<string>{{150, 461}, {5, 29}}</string>
			<key>offset</key>
			<string>{-29, -7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0026</key>
		<dict>
			<key>frame</key>
			<string>{{75, 0}, {72, 77}}</string>
			<key>offset</key>
			<string>{-2, 10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0027</key>
		<dict>
			<key>frame</key>
			<string>{{203, 111}, {43, 18}}</string>
			<key>offset</key>
			<string>{34, 27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0028</key>
		<dict>
			<key>frame</key>
			<string>{{219, 205}, {16, 30}}</string>
			<key>offset</key>
			<string>{-22, -17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0029</key>
		<dict>
			<key>frame</key>
			<string>{{248, 0}, {20, 32}}</string>
			<key>offset</key>
			<string>{-24, -18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0030</key>
		<dict>
			<key>frame</key>
			<string>{{218, 394}, {49, 42}}</string>
			<key>offset</key>
			<string>{-36, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0031</key>
		<dict>
			<key>frame</key>
			<string>{{71, 372}, {53, 43}}</string>
			<key>offset</key>
			<string>{-41, -24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0032</key>
		<dict>
			<key>frame</key>
			<string>{{235, 205}, {16, 30}}</string>
			<key>offset</key>
			<string>{-22, -17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0033</key>
		<dict>
			<key>frame</key>
			<string>{{242, 235}, {16, 30}}</string>
			<key>offset</key>
			<string>{-22, -17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0034</key>
		<dict>
			<key>frame</key>
			<string>{{244, 265}, {16, 30}}</string>
			<key>offset</key>
			<string>{-22, -17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0035</key>
		<dict>
			<key>frame</key>
			<string>{{0, 0}, {75, 83}}</string>
			<key>offset</key>
			<string>{-1, 7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0036</key>
		<dict>
			<key>frame</key>
			<string>{{176, 0}, {43, 18}}</string>
			<key>offset</key>
			<string>{34, 27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0037</key>
		<dict>
			<key>frame</key>
			<string>{{190, 206}, {29, 31}}</string>
			<key>offset</key>
			<string>{2, -18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0038</key>
		<dict>
			<key>frame</key>
			<string>{{146, 77}, {29, 36}}</string>
			<key>offset</key>
			<string>{2, -20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0039</key>
		<dict>
			<key>frame</key>
			<string>{{199, 296}, {34, 55}}</string>
			<key>offset</key>
			<string>{1, -30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0040</key>
		<dict>
			<key>frame</key>
			<string>{{71, 313}, {43, 59}}</string>
			<key>offset</key>
			<string>{2, -32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0041</key>
		<dict>
			<key>frame</key>
			<string>{{213, 237}, {29, 31}}</string>
			<key>offset</key>
			<string>{2, -18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0042</key>
		<dict>
			<key>frame</key>
			<string>{{147, 0}, {29, 31}}</string>
			<key>offset</key>
			<string>{2, -18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0043</key>
		<dict>
			<key>frame</key>
			<string>{{147, 31}, {29, 31}}</string>
			<key>offset</key>
			<string>{2, -18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0044</key>
		<dict>
			<key>frame</key>
			<string>{{0, 250}, {71, 84}}</string>
			<key>offset</key>
			<string>{-3, 6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0045</key>
		<dict>
			<key>frame</key>
			<string>{{176, 43}, {43, 18}}</string>
			<key>offset</key>
			<string>{34, 27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0046</key>
		<dict>
			<key>frame</key>
			<string>{{254, 295}, {16, 30}}</string>
			<key>offset</key>
			<string>{23, -17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0047</key>
		<dict>
			<key>frame</key>
			<string>{{236, 61}, {20, 32}}</string>
			<key>offset</key>
			<string>{25, -18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0048</key>
		<dict>
			<key>frame</key>
			<string>{{142, 160}, {49, 42}}</string>
			<key>offset</key>
			<string>{37, -23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0049</key>
		<dict>
			<key>frame</key>
			<string>{{114, 313}, {53, 43}}</string>
			<key>offset</key>
			<string>{42, -24}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0050</key>
		<dict>
			<key>frame</key>
			<string>{{229, 129}, {16, 30}}</string>
			<key>offset</key>
			<string>{23, -17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0051</key>
		<dict>
			<key>frame</key>
			<string>{{229, 159}, {16, 30}}</string>
			<key>offset</key>
			<string>{23, -17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0052</key>
		<dict>
			<key>frame</key>
			<string>{{243, 189}, {16, 30}}</string>
			<key>offset</key>
			<string>{23, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0053</key>
		<dict>
			<key>frame</key>
			<string>{{0, 334}, {71, 83}}</string>
			<key>offset</key>
			<string>{-3, 7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0054</key>
		<dict>
			<key>frame</key>
			<string>{{194, 0}, {43, 18}}</string>
			<key>offset</key>
			<string>{34, 27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0055</key>
		<dict>
			<key>frame</key>
			<string>{{150, 456}, {5, 29}}</string>
			<key>offset</key>
			<string>{35, -7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0056</key>
		<dict>
			<key>frame</key>
			<string>{{268, 0}, {18, 32}}</string>
			<key>offset</key>
			<string>{34, -8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0057</key>
		<dict>
			<key>frame</key>
			<string>{{124, 366}, {52, 41}}</string>
			<key>offset</key>
			<string>{47, -13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0058</key>
		<dict>
			<key>frame</key>
			<string>{{176, 348}, {46, 45}}</string>
			<key>offset</key>
			<string>{55, -15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0059</key>
		<dict>
			<key>frame</key>
			<string>{{179, 461}, {5, 29}}</string>
			<key>offset</key>
			<string>{35, -7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0060</key>
		<dict>
			<key>frame</key>
			<string>{{208, 461}, {5, 29}}</string>
			<key>offset</key>
			<string>{35, -7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0061</key>
		<dict>
			<key>frame</key>
			<string>{{237, 461}, {5, 29}}</string>
			<key>offset</key>
			<string>{35, -7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0062</key>
		<dict>
			<key>frame</key>
			<string>{{73, 83}, {73, 77}}</string>
			<key>offset</key>
			<string>{-2, 10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0063</key>
		<dict>
			<key>frame</key>
			<string>{{212, 0}, {43, 18}}</string>
			<key>offset</key>
			<string>{34, 27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0064</key>
		<dict>
			<key>frame</key>
			<string>{{203, 61}, {15, 30}}</string>
			<key>offset</key>
			<string>{21, -3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0065</key>
		<dict>
			<key>frame</key>
			<string>{{256, 61}, {18, 33}}</string>
			<key>offset</key>
			<string>{21, -5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0066</key>
		<dict>
			<key>frame</key>
			<string>{{174, 248}, {48, 39}}</string>
			<key>offset</key>
			<string>{32, -8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0067</key>
		<dict>
			<key>frame</key>
			<string>{{157, 298}, {50, 42}}</string>
			<key>offset</key>
			<string>{38, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0068</key>
		<dict>
			<key>frame</key>
			<string>{{0, 451}, {15, 30}}</string>
			<key>offset</key>
			<string>{21, -3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0069</key>
		<dict>
			<key>frame</key>
			<string>{{30, 451}, {15, 30}}</string>
			<key>offset</key>
			<string>{21, -3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0070</key>
		<dict>
			<key>frame</key>
			<string>{{251, 205}, {15, 30}}</string>
			<key>offset</key>
			<string>{21, -3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0071</key>
		<dict>
			<key>frame</key>
			<string>{{71, 166}, {71, 82}}</string>
			<key>offset</key>
			<string>{-3, 7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0072</key>
		<dict>
			<key>frame</key>
			<string>{{218, 61}, {43, 18}}</string>
			<key>offset</key>
			<string>{34, 27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0073</key>
		<dict>
			<key>frame</key>
			<string>{{175, 62}, {28, 31}}</string>
			<key>offset</key>
			<string>{3, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0074</key>
		<dict>
			<key>frame</key>
			<string>{{0, 417}, {34, 78}}</string>
			<key>offset</key>
			<string>{3, 3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0075</key>
		<dict>
			<key>frame</key>
			<string>{{219, 43}, {40, 18}}</string>
			<key>offset</key>
			<string>{34, 28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0076</key>
		<dict>
			<key>frame</key>
			<string>{{73, 160}, {5, 29}}</string>
			<key>offset</key>
			<string>{-29, -7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0077</key>
		<dict>
			<key>frame</key>
			<string>{{71, 248}, {61, 65}}</string>
			<key>offset</key>
			<string>{3, 5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
		<key>Level1Sharpener_pieces0078</key>
		<dict>
			<key>frame</key>
			<string>{{230, 0}, {40, 18}}</string>
			<key>offset</key>
			<string>{34, 28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187, 187}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>tower_custom_sharpener_level1</string>
		<key>size</key>
		<string>{302, 466}</string>
		<key>textureFilename</key>
		<string>tower_custom_sharpener_level1</string>
	</dict>
</dict>
</plist>
