<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Level1Sharpener_pieces0001</key>
		<dict>
			<key>frame</key>
			<string>{{310, 478}, {56, 61}}</string>
			<key>offset</key>
			<string>{6, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0002</key>
		<dict>
			<key>frame</key>
			<string>{{289, 422}, {56, 67}}</string>
			<key>offset</key>
			<string>{6, 4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0003</key>
		<dict>
			<key>frame</key>
			<string>{{304, 587}, {68, 105}}</string>
			<key>offset</key>
			<string>{6, -6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0004</key>
		<dict>
			<key>frame</key>
			<string>{{143, 802}, {83, 100}}</string>
			<key>offset</key>
			<string>{6, -18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0005</key>
		<dict>
			<key>frame</key>
			<string>{{315, 839}, {56, 60}}</string>
			<key>offset</key>
			<string>{6, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0006</key>
		<dict>
			<key>frame</key>
			<string>{{356, 422}, {56, 61}}</string>
			<key>offset</key>
			<string>{6, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0007</key>
		<dict>
			<key>frame</key>
			<string>{{366, 478}, {56, 61}}</string>
			<key>offset</key>
			<string>{6, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0008</key>
		<dict>
			<key>frame</key>
			<string>{{0, 330}, {143, 167}}</string>
			<key>offset</key>
			<string>{-6, -13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0009</key>
		<dict>
			<key>frame</key>
			<string>{{0, 992}, {85, 36}}</string>
			<key>offset</key>
			<string>{69, -55}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0010</key>
		<dict>
			<key>frame</key>
			<string>{{552, 0}, {29, 59}}</string>
			<key>offset</key>
			<string>{-41, 7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0011</key>
		<dict>
			<key>frame</key>
			<string>{{427, 133}, {36, 65}}</string>
			<key>offset</key>
			<string>{-42, 10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0012</key>
		<dict>
			<key>frame</key>
			<string>{{227, 587}, {96, 77}}</string>
			<key>offset</key>
			<string>{-63, 16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0013</key>
		<dict>
			<key>frame</key>
			<string>{{338, 0}, {99, 84}}</string>
			<key>offset</key>
			<string>{-76, 19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0014</key>
		<dict>
			<key>frame</key>
			<string>{{485, 228}, {29, 58}}</string>
			<key>offset</key>
			<string>{-41, 7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0015</key>
		<dict>
			<key>frame</key>
			<string>{{493, 128}, {29, 59}}</string>
			<key>offset</key>
			<string>{-41, 7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0016</key>
		<dict>
			<key>frame</key>
			<string>{{455, 310}, {29, 59}}</string>
			<key>offset</key>
			<string>{-41, 7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0017</key>
		<dict>
			<key>frame</key>
			<string>{{0, 164}, {146, 166}}</string>
			<key>offset</key>
			<string>{-4, -13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0018</key>
		<dict>
			<key>frame</key>
			<string>{{417, 441}, {85, 36}}</string>
			<key>offset</key>
			<string>{69, -55}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0019</key>
		<dict>
			<key>frame</key>
			<string>{{230, 155}, {9, 56}}</string>
			<key>offset</key>
			<string>{-58, 14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0020</key>
		<dict>
			<key>frame</key>
			<string>{{457, 0}, {35, 63}}</string>
			<key>offset</key>
			<string>{-58, 18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0021</key>
		<dict>
			<key>frame</key>
			<string>{{289, 316}, {106, 80}}</string>
			<key>offset</key>
			<string>{-83, 26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0022</key>
		<dict>
			<key>frame</key>
			<string>{{143, 902}, {93, 89}}</string>
			<key>offset</key>
			<string>{-100, 31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0023</key>
		<dict>
			<key>frame</key>
			<string>{{227, 793}, {9, 56}}</string>
			<key>offset</key>
			<string>{-58, 14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0024</key>
		<dict>
			<key>frame</key>
			<string>{{291, 299}, {9, 56}}</string>
			<key>offset</key>
			<string>{-58, 14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0025</key>
		<dict>
			<key>frame</key>
			<string>{{146, 316}, {9, 56}}</string>
			<key>offset</key>
			<string>{-58, 14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0026</key>
		<dict>
			<key>frame</key>
			<string>{{146, 164}, {145, 152}}</string>
			<key>offset</key>
			<string>{-5, -20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0027</key>
		<dict>
			<key>frame</key>
			<string>{{371, 215}, {85, 36}}</string>
			<key>offset</key>
			<string>{69, -55}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0028</key>
		<dict>
			<key>frame</key>
			<string>{{170, 995}, {30, 59}}</string>
			<key>offset</key>
			<string>{-45, 36}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0029</key>
		<dict>
			<key>frame</key>
			<string>{{291, 261}, {38, 63}}</string>
			<key>offset</key>
			<string>{-49, 38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0030</key>
		<dict>
			<key>frame</key>
			<string>{{232, 895}, {97, 82}}</string>
			<key>offset</key>
			<string>{-73, 47}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0031</key>
		<dict>
			<key>frame</key>
			<string>{{143, 598}, {105, 84}}</string>
			<key>offset</key>
			<string>{-83, 48}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0032</key>
		<dict>
			<key>frame</key>
			<string>{{492, 0}, {30, 59}}</string>
			<key>offset</key>
			<string>{-45, 36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0033</key>
		<dict>
			<key>frame</key>
			<string>{{425, 251}, {30, 59}}</string>
			<key>offset</key>
			<string>{-45, 36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0034</key>
		<dict>
			<key>frame</key>
			<string>{{425, 310}, {30, 59}}</string>
			<key>offset</key>
			<string>{-45, 36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0035</key>
		<dict>
			<key>frame</key>
			<string>{{0, 0}, {150, 164}}</string>
			<key>offset</key>
			<string>{-2, -14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0036</key>
		<dict>
			<key>frame</key>
			<string>{{232, 992}, {85, 36}}</string>
			<key>offset</key>
			<string>{69, -55}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0037</key>
		<dict>
			<key>frame</key>
			<string>{{369, 261}, {56, 60}}</string>
			<key>offset</key>
			<string>{3, 36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0038</key>
		<dict>
			<key>frame</key>
			<string>{{338, 99}, {56, 70}}</string>
			<key>offset</key>
			<string>{3, 41}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0039</key>
		<dict>
			<key>frame</key>
			<string>{{227, 683}, {67, 110}}</string>
			<key>offset</key>
			<string>{3, 61}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0040</key>
		<dict>
			<key>frame</key>
			<string>{{143, 482}, {83, 116}}</string>
			<key>offset</key>
			<string>{4, 64}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0041</key>
		<dict>
			<key>frame</key>
			<string>{{369, 321}, {56, 60}}</string>
			<key>offset</key>
			<string>{3, 36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0042</key>
		<dict>
			<key>frame</key>
			<string>{{417, 381}, {56, 60}}</string>
			<key>offset</key>
			<string>{3, 36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0043</key>
		<dict>
			<key>frame</key>
			<string>{{371, 155}, {56, 60}}</string>
			<key>offset</key>
			<string>{3, 36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0044</key>
		<dict>
			<key>frame</key>
			<string>{{0, 497}, {143, 167}}</string>
			<key>offset</key>
			<string>{-6, -13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0045</key>
		<dict>
			<key>frame</key>
			<string>{{85, 995}, {85, 36}}</string>
			<key>offset</key>
			<string>{69, -55}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0046</key>
		<dict>
			<key>frame</key>
			<string>{{455, 251}, {30, 59}}</string>
			<key>offset</key>
			<string>{47, 36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0047</key>
		<dict>
			<key>frame</key>
			<string>{{422, 477}, {38, 63}}</string>
			<key>offset</key>
			<string>{51, 38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0048</key>
		<dict>
			<key>frame</key>
			<string>{{314, 895}, {97, 82}}</string>
			<key>offset</key>
			<string>{75, 47}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0049</key>
		<dict>
			<key>frame</key>
			<string>{{226, 482}, {105, 84}}</string>
			<key>offset</key>
			<string>{85, 48}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0050</key>
		<dict>
			<key>frame</key>
			<string>{{473, 369}, {29, 59}}</string>
			<key>offset</key>
			<string>{47, 36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0051</key>
		<dict>
			<key>frame</key>
			<string>{{456, 198}, {30, 59}}</string>
			<key>offset</key>
			<string>{47, 36}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0052</key>
		<dict>
			<key>frame</key>
			<string>{{484, 310}, {29, 59}}</string>
			<key>offset</key>
			<string>{47, 36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0053</key>
		<dict>
			<key>frame</key>
			<string>{{0, 664}, {143, 164}}</string>
			<key>offset</key>
			<string>{-6, -14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0054</key>
		<dict>
			<key>frame</key>
			<string>{{317, 992}, {85, 36}}</string>
			<key>offset</key>
			<string>{69, -55}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0055</key>
		<dict>
			<key>frame</key>
			<string>{{202, 316}, {9, 56}}</string>
			<key>offset</key>
			<string>{70, 14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0056</key>
		<dict>
			<key>frame</key>
			<string>{{457, 63}, {35, 63}}</string>
			<key>offset</key>
			<string>{70, 18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0057</key>
		<dict>
			<key>frame</key>
			<string>{{291, 155}, {106, 80}}</string>
			<key>offset</key>
			<string>{95, 26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0058</key>
		<dict>
			<key>frame</key>
			<string>{{226, 802}, {93, 89}}</string>
			<key>offset</key>
			<string>{112, 31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0059</key>
		<dict>
			<key>frame</key>
			<string>{{520, 89}, {9, 56}}</string>
			<key>offset</key>
			<string>{70, 14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0060</key>
		<dict>
			<key>frame</key>
			<string>{{493, 187}, {9, 56}}</string>
			<key>offset</key>
			<string>{70, 14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0061</key>
		<dict>
			<key>frame</key>
			<string>{{473, 428}, {9, 56}}</string>
			<key>offset</key>
			<string>{70, 14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0062</key>
		<dict>
			<key>frame</key>
			<string>{{143, 330}, {146, 152}}</string>
			<key>offset</key>
			<string>{-4, -20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0063</key>
		<dict>
			<key>frame</key>
			<string>{{310, 539}, {85, 36}}</string>
			<key>offset</key>
			<string>{69, -55}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0064</key>
		<dict>
			<key>frame</key>
			<string>{{463, 133}, {30, 59}}</string>
			<key>offset</key>
			<string>{42, 7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0065</key>
		<dict>
			<key>frame</key>
			<string>{{422, 0}, {35, 65}}</string>
			<key>offset</key>
			<string>{44, 10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0066</key>
		<dict>
			<key>frame</key>
			<string>{{294, 683}, {95, 77}}</string>
			<key>offset</key>
			<string>{65, 16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0067</key>
		<dict>
			<key>frame</key>
			<string>{{143, 703}, {99, 84}}</string>
			<key>offset</key>
			<string>{77, 19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0068</key>
		<dict>
			<key>frame</key>
			<string>{{522, 0}, {30, 58}}</string>
			<key>offset</key>
			<string>{42, 7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0069</key>
		<dict>
			<key>frame</key>
			<string>{{488, 98}, {30, 59}}</string>
			<key>offset</key>
			<string>{42, 7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0070</key>
		<dict>
			<key>frame</key>
			<string>{{520, 59}, {30, 59}}</string>
			<key>offset</key>
			<string>{42, 7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0071</key>
		<dict>
			<key>frame</key>
			<string>{{0, 828}, {143, 164}}</string>
			<key>offset</key>
			<string>{-6, -14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0072</key>
		<dict>
			<key>frame</key>
			<string>{{395, 539}, {85, 36}}</string>
			<key>offset</key>
			<string>{69, -55}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0073</key>
		<dict>
			<key>frame</key>
			<string>{{315, 778}, {56, 61}}</string>
			<key>offset</key>
			<string>{6, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0074</key>
		<dict>
			<key>frame</key>
			<string>{{272, 0}, {66, 155}}</string>
			<key>offset</key>
			<string>{6, -8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0075</key>
		<dict>
			<key>frame</key>
			<string>{{150, 130}, {80, 34}}</string>
			<key>offset</key>
			<string>{69, -56}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0076</key>
		<dict>
			<key>frame</key>
			<string>{{310, 575}, {9, 56}}</string>
			<key>offset</key>
			<string>{-58, 14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0077</key>
		<dict>
			<key>frame</key>
			<string>{{150, 0}, {122, 130}}</string>
			<key>offset</key>
			<string>{5, -10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
		<key>Level1Sharpener_pieces0078</key>
		<dict>
			<key>frame</key>
			<string>{{408, 99}, {80, 34}}</string>
			<key>offset</key>
			<string>{69, -56}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{375, 375}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>tower_custom_sharpener_level1-iPadHD</string>
		<key>size</key>
		<string>{581, 1031}</string>
		<key>textureFilename</key>
		<string>tower_custom_sharpener_level1-iPadHD</string>
	</dict>
</dict>
</plist>
