<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Level1Sharpener_pieces0001</key>
		<dict>
			<key>frame</key>
			<string>{{210, 247}, {29, 32}}</string>
			<key>offset</key>
			<string>{3, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0002</key>
		<dict>
			<key>frame</key>
			<string>{{199, 303}, {29, 34}}</string>
			<key>offset</key>
			<string>{3, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0003</key>
		<dict>
			<key>frame</key>
			<string>{{175, 250}, {35, 53}}</string>
			<key>offset</key>
			<string>{3, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0004</key>
		<dict>
			<key>frame</key>
			<string>{{133, 418}, {42, 52}}</string>
			<key>offset</key>
			<string>{3, -9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0005</key>
		<dict>
			<key>frame</key>
			<string>{{222, 211}, {29, 32}}</string>
			<key>offset</key>
			<string>{3, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0006</key>
		<dict>
			<key>frame</key>
			<string>{{214, 337}, {29, 32}}</string>
			<key>offset</key>
			<string>{3, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0007</key>
		<dict>
			<key>frame</key>
			<string>{{214, 369}, {29, 32}}</string>
			<key>offset</key>
			<string>{3, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0008</key>
		<dict>
			<key>frame</key>
			<string>{{0, 168}, {72, 85}}</string>
			<key>offset</key>
			<string>{-2, -6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0009</key>
		<dict>
			<key>frame</key>
			<string>{{243, 331}, {45, 19}}</string>
			<key>offset</key>
			<string>{34, -27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0010</key>
		<dict>
			<key>frame</key>
			<string>{{347, 405}, {16, 30}}</string>
			<key>offset</key>
			<string>{-19, 3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0011</key>
		<dict>
			<key>frame</key>
			<string>{{316, 387}, {18, 33}}</string>
			<key>offset</key>
			<string>{-20, 5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0012</key>
		<dict>
			<key>frame</key>
			<string>{{144, 211}, {49, 39}}</string>
			<key>offset</key>
			<string>{-31, 8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0013</key>
		<dict>
			<key>frame</key>
			<string>{{157, 304}, {51, 42}}</string>
			<key>offset</key>
			<string>{-37, 9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0014</key>
		<dict>
			<key>frame</key>
			<string>{{149, 0}, {16, 30}}</string>
			<key>offset</key>
			<string>{-19, 3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0015</key>
		<dict>
			<key>frame</key>
			<string>{{149, 30}, {16, 30}}</string>
			<key>offset</key>
			<string>{-19, 3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0016</key>
		<dict>
			<key>frame</key>
			<string>{{149, 60}, {16, 30}}</string>
			<key>offset</key>
			<string>{-19, 3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0017</key>
		<dict>
			<key>frame</key>
			<string>{{0, 84}, {74, 84}}</string>
			<key>offset</key>
			<string>{-1, -7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0018</key>
		<dict>
			<key>frame</key>
			<string>{{243, 376}, {45, 19}}</string>
			<key>offset</key>
			<string>{34, -27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0019</key>
		<dict>
			<key>frame</key>
			<string>{{133, 460}, {5, 30}}</string>
			<key>offset</key>
			<string>{-28, 6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0020</key>
		<dict>
			<key>frame</key>
			<string>{{296, 419}, {19, 33}}</string>
			<key>offset</key>
			<string>{-28, 8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0021</key>
		<dict>
			<key>frame</key>
			<string>{{134, 251}, {53, 41}}</string>
			<key>offset</key>
			<string>{-41, 13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0022</key>
		<dict>
			<key>frame</key>
			<string>{{185, 406}, {47, 45}}</string>
			<key>offset</key>
			<string>{-49, 15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0023</key>
		<dict>
			<key>frame</key>
			<string>{{163, 460}, {5, 30}}</string>
			<key>offset</key>
			<string>{-28, 6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0024</key>
		<dict>
			<key>frame</key>
			<string>{{185, 453}, {5, 30}}</string>
			<key>offset</key>
			<string>{-28, 6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0025</key>
		<dict>
			<key>frame</key>
			<string>{{193, 458}, {5, 30}}</string>
			<key>offset</key>
			<string>{-28, 6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0026</key>
		<dict>
			<key>frame</key>
			<string>{{76, 0}, {73, 78}}</string>
			<key>offset</key>
			<string>{-2, -10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0027</key>
		<dict>
			<key>frame</key>
			<string>{{228, 311}, {45, 20}}</string>
			<key>offset</key>
			<string>{34, -28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0028</key>
		<dict>
			<key>frame</key>
			<string>{{165, 0}, {16, 30}}</string>
			<key>offset</key>
			<string>{-21, 17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0029</key>
		<dict>
			<key>frame</key>
			<string>{{300, 324}, {21, 32}}</string>
			<key>offset</key>
			<string>{-24, 18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0030</key>
		<dict>
			<key>frame</key>
			<string>{{144, 162}, {49, 42}}</string>
			<key>offset</key>
			<string>{-36, 23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0031</key>
		<dict>
			<key>frame</key>
			<string>{{72, 376}, {54, 43}}</string>
			<key>offset</key>
			<string>{-40, 24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0032</key>
		<dict>
			<key>frame</key>
			<string>{{165, 30}, {16, 30}}</string>
			<key>offset</key>
			<string>{-21, 17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0033</key>
		<dict>
			<key>frame</key>
			<string>{{179, 60}, {16, 30}}</string>
			<key>offset</key>
			<string>{-21, 17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0034</key>
		<dict>
			<key>frame</key>
			<string>{{190, 76}, {16, 30}}</string>
			<key>offset</key>
			<string>{-21, 17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0035</key>
		<dict>
			<key>frame</key>
			<string>{{0, 0}, {76, 84}}</string>
			<key>offset</key>
			<string>{0, -7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0036</key>
		<dict>
			<key>frame</key>
			<string>{{262, 331}, {45, 19}}</string>
			<key>offset</key>
			<string>{34, -27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0037</key>
		<dict>
			<key>frame</key>
			<string>{{239, 243}, {29, 31}}</string>
			<key>offset</key>
			<string>{2, 18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0038</key>
		<dict>
			<key>frame</key>
			<string>{{193, 211}, {29, 36}}</string>
			<key>offset</key>
			<string>{2, 20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0039</key>
		<dict>
			<key>frame</key>
			<string>{{148, 127}, {35, 56}}</string>
			<key>offset</key>
			<string>{1, 30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0040</key>
		<dict>
			<key>frame</key>
			<string>{{72, 317}, {43, 59}}</string>
			<key>offset</key>
			<string>{2, 32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0041</key>
		<dict>
			<key>frame</key>
			<string>{{257, 274}, {29, 31}}</string>
			<key>offset</key>
			<string>{2, 18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0042</key>
		<dict>
			<key>frame</key>
			<string>{{230, 401}, {29, 31}}</string>
			<key>offset</key>
			<string>{2, 18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0043</key>
		<dict>
			<key>frame</key>
			<string>{{230, 432}, {29, 31}}</string>
			<key>offset</key>
			<string>{2, 18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0044</key>
		<dict>
			<key>frame</key>
			<string>{{0, 253}, {72, 85}}</string>
			<key>offset</key>
			<string>{-2, -6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0045</key>
		<dict>
			<key>frame</key>
			<string>{{273, 305}, {45, 19}}</string>
			<key>offset</key>
			<string>{34, -27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0046</key>
		<dict>
			<key>frame</key>
			<string>{{190, 106}, {16, 30}}</string>
			<key>offset</key>
			<string>{24, 17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0047</key>
		<dict>
			<key>frame</key>
			<string>{{296, 387}, {20, 32}}</string>
			<key>offset</key>
			<string>{26, 18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0048</key>
		<dict>
			<key>frame</key>
			<string>{{148, 78}, {49, 42}}</string>
			<key>offset</key>
			<string>{37, 23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0049</key>
		<dict>
			<key>frame</key>
			<string>{{79, 419}, {54, 43}}</string>
			<key>offset</key>
			<string>{42, 24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0050</key>
		<dict>
			<key>frame</key>
			<string>{{337, 438}, {17, 30}}</string>
			<key>offset</key>
			<string>{23, 17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0051</key>
		<dict>
			<key>frame</key>
			<string>{{206, 76}, {16, 30}}</string>
			<key>offset</key>
			<string>{24, 17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0052</key>
		<dict>
			<key>frame</key>
			<string>{{204, 122}, {16, 30}}</string>
			<key>offset</key>
			<string>{24, 17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0053</key>
		<dict>
			<key>frame</key>
			<string>{{0, 338}, {72, 84}}</string>
			<key>offset</key>
			<string>{-2, -7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0054</key>
		<dict>
			<key>frame</key>
			<string>{{281, 324}, {45, 19}}</string>
			<key>offset</key>
			<string>{34, -27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0055</key>
		<dict>
			<key>frame</key>
			<string>{{74, 162}, {6, 30}}</string>
			<key>offset</key>
			<string>{35, 6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0056</key>
		<dict>
			<key>frame</key>
			<string>{{304, 438}, {19, 33}}</string>
			<key>offset</key>
			<string>{35, 8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0057</key>
		<dict>
			<key>frame</key>
			<string>{{115, 317}, {53, 42}}</string>
			<key>offset</key>
			<string>{47, 12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0058</key>
		<dict>
			<key>frame</key>
			<string>{{126, 370}, {48, 46}}</string>
			<key>offset</key>
			<string>{56, 14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0059</key>
		<dict>
			<key>frame</key>
			<string>{{104, 162}, {6, 30}}</string>
			<key>offset</key>
			<string>{35, 6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0060</key>
		<dict>
			<key>frame</key>
			<string>{{76, 78}, {6, 30}}</string>
			<key>offset</key>
			<string>{35, 6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0061</key>
		<dict>
			<key>frame</key>
			<string>{{106, 78}, {6, 30}}</string>
			<key>offset</key>
			<string>{35, 6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0062</key>
		<dict>
			<key>frame</key>
			<string>{{74, 84}, {74, 78}}</string>
			<key>offset</key>
			<string>{-1, -10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0063</key>
		<dict>
			<key>frame</key>
			<string>{{259, 395}, {45, 19}}</string>
			<key>offset</key>
			<string>{34, -27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0064</key>
		<dict>
			<key>frame</key>
			<string>{{220, 106}, {16, 30}}</string>
			<key>offset</key>
			<string>{21, 3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0065</key>
		<dict>
			<key>frame</key>
			<string>{{329, 405}, {18, 33}}</string>
			<key>offset</key>
			<string>{22, 5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0066</key>
		<dict>
			<key>frame</key>
			<string>{{186, 162}, {49, 39}}</string>
			<key>offset</key>
			<string>{32, 8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0067</key>
		<dict>
			<key>frame</key>
			<string>{{172, 355}, {51, 42}}</string>
			<key>offset</key>
			<string>{38, 9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0068</key>
		<dict>
			<key>frame</key>
			<string>{{220, 136}, {16, 30}}</string>
			<key>offset</key>
			<string>{21, 3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0069</key>
		<dict>
			<key>frame</key>
			<string>{{225, 152}, {16, 30}}</string>
			<key>offset</key>
			<string>{21, 3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0070</key>
		<dict>
			<key>frame</key>
			<string>{{225, 182}, {16, 30}}</string>
			<key>offset</key>
			<string>{21, 3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0071</key>
		<dict>
			<key>frame</key>
			<string>{{72, 168}, {72, 83}}</string>
			<key>offset</key>
			<string>{-2, -7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0072</key>
		<dict>
			<key>frame</key>
			<string>{{259, 440}, {45, 19}}</string>
			<key>offset</key>
			<string>{34, -27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0073</key>
		<dict>
			<key>frame</key>
			<string>{{228, 279}, {29, 32}}</string>
			<key>offset</key>
			<string>{3, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0074</key>
		<dict>
			<key>frame</key>
			<string>{{0, 422}, {35, 79}}</string>
			<key>offset</key>
			<string>{3, -3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0075</key>
		<dict>
			<key>frame</key>
			<string>{{278, 395}, {41, 18}}</string>
			<key>offset</key>
			<string>{34, -28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0076</key>
		<dict>
			<key>frame</key>
			<string>{{0, 457}, {5, 29}}</string>
			<key>offset</key>
			<string>{-28, 7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0077</key>
		<dict>
			<key>frame</key>
			<string>{{72, 251}, {62, 66}}</string>
			<key>offset</key>
			<string>{3, -5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
		<key>Level1Sharpener_pieces0078</key>
		<dict>
			<key>frame</key>
			<string>{{288, 369}, {41, 18}}</string>
			<key>offset</key>
			<string>{34, -28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{187.5, 187.5}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>tower_custom_sharpener_level1-hd</string>
		<key>size</key>
		<string>{367, 465}</string>
		<key>textureFilename</key>
		<string>tower_custom_sharpener_level1-hd</string>
	</dict>
</dict>
</plist>
