<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Level1Sharpener_pieces0001</key>
		<dict>
			<key>frame</key>
			<string>{{900, 0}, {110, 120}}</string>
			<key>offset</key>
			<string>{13, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0002</key>
		<dict>
			<key>frame</key>
			<string>{{735, 708}, {110, 133}}</string>
			<key>offset</key>
			<string>{13, 8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0003</key>
		<dict>
			<key>frame</key>
			<string>{{890, 898}, {135, 209}}</string>
			<key>offset</key>
			<string>{13, -11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0004</key>
		<dict>
			<key>frame</key>
			<string>{{625, 1196}, {165, 200}}</string>
			<key>offset</key>
			<string>{11, -37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0005</key>
		<dict>
			<key>frame</key>
			<string>{{874, 311}, {110, 120}}</string>
			<key>offset</key>
			<string>{13, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0006</key>
		<dict>
			<key>frame</key>
			<string>{{966, 1349}, {110, 121}}</string>
			<key>offset</key>
			<string>{13, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0007</key>
		<dict>
			<key>frame</key>
			<string>{{966, 1470}, {110, 121}}</string>
			<key>offset</key>
			<string>{13, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0008</key>
		<dict>
			<key>frame</key>
			<string>{{0, 659}, {284, 334}}</string>
			<key>offset</key>
			<string>{-12, -26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0009</key>
		<dict>
			<key>frame</key>
			<string>{{740, 431}, {169, 71}}</string>
			<key>offset</key>
			<string>{138, -111}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0010</key>
		<dict>
			<key>frame</key>
			<string>{{1171, 482}, {58, 117}}</string>
			<key>offset</key>
			<string>{-82, 14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0011</key>
		<dict>
			<key>frame</key>
			<string>{{1010, 0}, {70, 128}}</string>
			<key>offset</key>
			<string>{-85, 20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0012</key>
		<dict>
			<key>frame</key>
			<string>{{747, 0}, {190, 153}}</string>
			<key>offset</key>
			<string>{-127, 32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0013</key>
		<dict>
			<key>frame</key>
			<string>{{693, 1026}, {197, 166}}</string>
			<key>offset</key>
			<string>{-151, 39}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0014</key>
		<dict>
			<key>frame</key>
			<string>{{1197, 365}, {58, 117}}</string>
			<key>offset</key>
			<string>{-82, 14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0015</key>
		<dict>
			<key>frame</key>
			<string>{{1226, 304}, {58, 117}}</string>
			<key>offset</key>
			<string>{-82, 14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0016</key>
		<dict>
			<key>frame</key>
			<string>{{1233, 176}, {58, 117}}</string>
			<key>offset</key>
			<string>{-82, 14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0017</key>
		<dict>
			<key>frame</key>
			<string>{{0, 328}, {290, 331}}</string>
			<key>offset</key>
			<string>{-9, -27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0018</key>
		<dict>
			<key>frame</key>
			<string>{{899, 502}, {169, 71}}</string>
			<key>offset</key>
			<string>{138, -111}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0019</key>
		<dict>
			<key>frame</key>
			<string>{{111, 1611}, {16, 111}}</string>
			<key>offset</key>
			<string>{-116, 28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0020</key>
		<dict>
			<key>frame</key>
			<string>{{984, 187}, {71, 126}}</string>
			<key>offset</key>
			<string>{-115, 36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0021</key>
		<dict>
			<key>frame</key>
			<string>{{580, 304}, {210, 160}}</string>
			<key>offset</key>
			<string>{-167, 53}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0022</key>
		<dict>
			<key>frame</key>
			<string>{{625, 1396}, {185, 177}}</string>
			<key>offset</key>
			<string>{-199, 61}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0023</key>
		<dict>
			<key>frame</key>
			<string>{{587, 287}, {17, 111}}</string>
			<key>offset</key>
			<string>{-115, 28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0024</key>
		<dict>
			<key>frame</key>
			<string>{{747, 190}, {16, 111}}</string>
			<key>offset</key>
			<string>{-116, 28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0025</key>
		<dict>
			<key>frame</key>
			<string>{{870, 898}, {16, 111}}</string>
			<key>offset</key>
			<string>{-116, 28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0026</key>
		<dict>
			<key>frame</key>
			<string>{{299, 0}, {288, 304}}</string>
			<key>offset</key>
			<string>{-10, -41}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0027</key>
		<dict>
			<key>frame</key>
			<string>{{909, 431}, {169, 71}}</string>
			<key>offset</key>
			<string>{138, -111}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0028</key>
		<dict>
			<key>frame</key>
			<string>{{1119, 70}, {59, 117}}</string>
			<key>offset</key>
			<string>{-90, 71}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0029</key>
		<dict>
			<key>frame</key>
			<string>{{1096, 840}, {76, 125}}</string>
			<key>offset</key>
			<string>{-99, 75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0030</key>
		<dict>
			<key>frame</key>
			<string>{{802, 1389}, {194, 164}}</string>
			<key>offset</key>
			<string>{-146, 95}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0031</key>
		<dict>
			<key>frame</key>
			<string>{{568, 632}, {209, 167}}</string>
			<key>offset</key>
			<string>{-165, 96}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0032</key>
		<dict>
			<key>frame</key>
			<string>{{1174, 187}, {59, 117}}</string>
			<key>offset</key>
			<string>{-90, 71}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0033</key>
		<dict>
			<key>frame</key>
			<string>{{1115, 187}, {59, 118}}</string>
			<key>offset</key>
			<string>{-90, 71}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0034</key>
		<dict>
			<key>frame</key>
			<string>{{1112, 501}, {59, 118}}</string>
			<key>offset</key>
			<string>{-90, 71}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0035</key>
		<dict>
			<key>frame</key>
			<string>{{0, 0}, {299, 328}}</string>
			<key>offset</key>
			<string>{-4, -29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0036</key>
		<dict>
			<key>frame</key>
			<string>{{970, 502}, {169, 71}}</string>
			<key>offset</key>
			<string>{138, -111}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0037</key>
		<dict>
			<key>frame</key>
			<string>{{580, 514}, {111, 121}}</string>
			<key>offset</key>
			<string>{7, 73}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0038</key>
		<dict>
			<key>frame</key>
			<string>{{568, 841}, {111, 139}}</string>
			<key>offset</key>
			<string>{7, 82}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0039</key>
		<dict>
			<key>frame</key>
			<string>{{740, 210}, {134, 219}}</string>
			<key>offset</key>
			<string>{6, 122}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0040</key>
		<dict>
			<key>frame</key>
			<string>{{460, 1245}, {165, 232}}</string>
			<key>offset</key>
			<string>{8, 129}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0041</key>
		<dict>
			<key>frame</key>
			<string>{{460, 1477}, {111, 121}}</string>
			<key>offset</key>
			<string>{7, 73}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0042</key>
		<dict>
			<key>frame</key>
			<string>{{956, 1107}, {111, 121}}</string>
			<key>offset</key>
			<string>{7, 73}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0043</key>
		<dict>
			<key>frame</key>
			<string>{{956, 1228}, {111, 121}}</string>
			<key>offset</key>
			<string>{7, 73}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0044</key>
		<dict>
			<key>frame</key>
			<string>{{0, 993}, {284, 334}}</string>
			<key>offset</key>
			<string>{-12, -26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0045</key>
		<dict>
			<key>frame</key>
			<string>{{1023, 671}, {169, 71}}</string>
			<key>offset</key>
			<string>{138, -111}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0046</key>
		<dict>
			<key>frame</key>
			<string>{{1059, 70}, {60, 117}}</string>
			<key>offset</key>
			<string>{94, 71}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0047</key>
		<dict>
			<key>frame</key>
			<string>{{587, 210}, {77, 125}}</string>
			<key>offset</key>
			<string>{102, 75}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0048</key>
		<dict>
			<key>frame</key>
			<string>{{735, 514}, {194, 164}}</string>
			<key>offset</key>
			<string>{150, 95}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0049</key>
		<dict>
			<key>frame</key>
			<string>{{526, 986}, {210, 167}}</string>
			<key>offset</key>
			<string>{169, 96}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0050</key>
		<dict>
			<key>frame</key>
			<string>{{1109, 305}, {60, 117}}</string>
			<key>offset</key>
			<string>{94, 71}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0051</key>
		<dict>
			<key>frame</key>
			<string>{{1078, 383}, {60, 118}}</string>
			<key>offset</key>
			<string>{94, 71}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0052</key>
		<dict>
			<key>frame</key>
			<string>{{1055, 187}, {60, 118}}</string>
			<key>offset</key>
			<string>{94, 71}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0053</key>
		<dict>
			<key>frame</key>
			<string>{{0, 1327}, {284, 328}}</string>
			<key>offset</key>
			<string>{-12, -29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0054</key>
		<dict>
			<key>frame</key>
			<string>{{1041, 502}, {169, 71}}</string>
			<key>offset</key>
			<string>{138, -111}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0055</key>
		<dict>
			<key>frame</key>
			<string>{{1171, 599}, {16, 111}}</string>
			<key>offset</key>
			<string>{140, 28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0056</key>
		<dict>
			<key>frame</key>
			<string>{{984, 313}, {70, 125}}</string>
			<key>offset</key>
			<string>{140, 35}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0057</key>
		<dict>
			<key>frame</key>
			<string>{{587, 0}, {210, 160}}</string>
			<key>offset</key>
			<string>{191, 53}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0058</key>
		<dict>
			<key>frame</key>
			<string>{{693, 841}, {185, 177}}</string>
			<key>offset</key>
			<string>{223, 61}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0059</key>
		<dict>
			<key>frame</key>
			<string>{{0, 1611}, {17, 111}}</string>
			<key>offset</key>
			<string>{139, 28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0060</key>
		<dict>
			<key>frame</key>
			<string>{{1237, 59}, {16, 111}}</string>
			<key>offset</key>
			<string>{140, 28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0061</key>
		<dict>
			<key>frame</key>
			<string>{{1253, 59}, {16, 111}}</string>
			<key>offset</key>
			<string>{140, 28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0062</key>
		<dict>
			<key>frame</key>
			<string>{{290, 328}, {290, 304}}</string>
			<key>offset</key>
			<string>{-9, -41}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0063</key>
		<dict>
			<key>frame</key>
			<string>{{1025, 840}, {169, 71}}</string>
			<key>offset</key>
			<string>{138, -111}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0064</key>
		<dict>
			<key>frame</key>
			<string>{{1138, 0}, {59, 117}}</string>
			<key>offset</key>
			<string>{84, 14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0065</key>
		<dict>
			<key>frame</key>
			<string>{{328, 1554}, {71, 128}}</string>
			<key>offset</key>
			<string>{87, 20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0066</key>
		<dict>
			<key>frame</key>
			<string>{{870, 708}, {190, 153}}</string>
			<key>offset</key>
			<string>{130, 32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0067</key>
		<dict>
			<key>frame</key>
			<string>{{790, 1192}, {197, 166}}</string>
			<key>offset</key>
			<string>{153, 39}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0068</key>
		<dict>
			<key>frame</key>
			<string>{{1178, 59}, {59, 117}}</string>
			<key>offset</key>
			<string>{84, 14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0069</key>
		<dict>
			<key>frame</key>
			<string>{{1138, 365}, {59, 117}}</string>
			<key>offset</key>
			<string>{84, 14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0070</key>
		<dict>
			<key>frame</key>
			<string>{{1165, 619}, {59, 117}}</string>
			<key>offset</key>
			<string>{84, 14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0071</key>
		<dict>
			<key>frame</key>
			<string>{{284, 659}, {284, 327}}</string>
			<key>offset</key>
			<string>{-12, -29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0072</key>
		<dict>
			<key>frame</key>
			<string>{{1094, 671}, {169, 71}}</string>
			<key>offset</key>
			<string>{138, -111}</string>
			<key>rotated</key>
			<true/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0073</key>
		<dict>
			<key>frame</key>
			<string>{{874, 190}, {110, 121}}</string>
			<key>offset</key>
			<string>{13, 2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0074</key>
		<dict>
			<key>frame</key>
			<string>{{328, 1245}, {132, 309}}</string>
			<key>offset</key>
			<string>{13, -15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0075</key>
		<dict>
			<key>frame</key>
			<string>{{900, 120}, {159, 67}}</string>
			<key>offset</key>
			<string>{138, -113}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0076</key>
		<dict>
			<key>frame</key>
			<string>{{1229, 482}, {16, 110}}</string>
			<key>offset</key>
			<string>{-116, 29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0077</key>
		<dict>
			<key>frame</key>
			<string>{{284, 986}, {242, 259}}</string>
			<key>offset</key>
			<string>{11, -20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
		<key>Level1Sharpener_pieces0078</key>
		<dict>
			<key>frame</key>
			<string>{{1025, 1009}, {159, 67}}</string>
			<key>offset</key>
			<string>{138, -113}</string>
			<key>rotated</key>
			<false/>
			<key>sourceSize</key>
			<string>{750, 750}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>tower_custom_sharpener_level1-hd</string>
		<key>size</key>
		<string>{1343, 1628}</string>
		<key>textureFilename</key>
		<string>tower_custom_sharpener_level1-hd</string>
	</dict>
</dict>
</plist>
